
.example-page-header {
    margin-bottom: 100px;
    text-align: center;
}


#loading-curtain {
    position: fixed;
    top:0; bottom:0;
    left:0; right:0;
    background: rgba(50,50,50,.9);
    z-index: 99999;
    text-align: center;
    display: none;
}

#loading-curtain.text span {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 2em;
    color: #aaa;
    text-shadow: 0 1px 1px #000;
}

#loading-curtain.spinner span {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background-color: #337ab7;
    -webkit-animation: loading-spinner-rotate-pane 1.2s infinite ease-in-out;
    animation: loading-spinner-rotate-pane 1.2s infinite ease-in-out;
}

@-webkit-keyframes loading-spinner-rotate-pane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes loading-spinner-rotate-pane {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#loading-curtain.gif {
    background-image: url(gifs/clouds.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

#loading-curtain.ads a {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 999999;
}

#loading-curtain.game div.game-container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 450px;
    height: 250px;
    background: #fff;
    text-align: left;
}

#loading-curtain.game .game-close {
    position: absolute;
    display: none;

    width: 100%;
    top: -320px;
    left: 50%;
    transform: translate(-50%, 0);

    text-align: center;
    background: yellow;
    color: blue;
    font-size: 15pt;
    padding: 10px 20px;
    border-radius: 20px;
}
